<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
<body>

    <div class="main-content">
        <h1>Welcome to the Math Competition App</h1>

        <!-- Streak container -->
        <div class="streak_container">
            <% if (streak > 0) { %>
                <p>Your last streak is: <%= streak %></p>
            <% } else { %>
                <p>No streak exists. Start a quiz to begin!</p>
            <% } %>
        </div>

        <!-- Navigation container -->
        <div class="index_container">
            <div class="navigation_container">
                <a href="/leaderboards">View Leaderboards</a>
                <a href="/quiz">Start Quiz</a>
            </div>
        </div>
    </div>
</body>
</html>
